*{
	/*M(argin) B(order) P(adding) model for div sizes*/
	/*enforce padding and border on all elements*/
	box-sizing: border-box;
}

body {
  margin:0;
  font-family: Arial, Helvetica, sans-serif;
}


.banner{
  background-color: rgba(0,7,17,0.7);
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}


section{
	background-image: url("../asset/background.jpg");

}

footer{
	background-color: rgba(0,7,17,0.7);
	margin-top: 0px;
	text-align: center;
	font-size: 20px;
	color: white;
}

.img_row

.desc{
	font-size: 20px;
}

.img_desc{
	text-align: center;
	font-size: 35px;
	color: red;
}