body{
	background-image: url(../asset/silverware.jpg);
	background-color: white;
}

.heading{
	color: rgb(164,164,0);
	font-family: Lucida, "Sans Unicode", Helvetica, Arial;
	font-size: 18px;
	text-decoration: underline;
	background-color: rgb(240,240,240);
	display: inline-block;
	letter-spacing: .25em;
}

.main_heading{
	font-weight: bold;
	font-size: 22px;
}

.norm_text{
	color: rgb(64,64,64);
	font-size: 11px;
	font-family: Georgia, Garamond, "Times New Roman", Times, serif;
}

a{
	color: rgb(164,164,0);
}

.comment{
	margin: 5%;
	background-color:rgb(243, 244, 156);
	margin-top: 1.5%;
	margin-bottom: 1.5%;
	font-style: italic;
	

}
